@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import "variables";
.html {
  font-size: 16px;
}

.App {
  text-align: center;
}

.app {
  text-align: center;
  background-color: $background-color1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* font-size: calc(10px + 2vmin); */
}

.header-text {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

.subway-green {
  color: $primary-color1;
}

.subway-yellow {
  color: $primary-color2;
}

@media screen and (min-width: 600px) {
  .header-text {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}
