@import "variables";

.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .tag-item {
    display: none;
    margin: 5px;
    padding: 5px 7px;
    background: #edf2f7;
    border-radius: 8px;
    box-shadow: #c8c8c8 0 5px 10px -5px;
    box-sizing: border-box;
    font-size: 0.8rem;
    font-weight: 500;
    outline: 0 solid transparent;
    width: fit-content;
    border: 0;
    text-transform: capitalize;
    &:hover {
      box-shadow: #676767 0 7px 12px -7px;
    }
  }
  .visible {
    display: block;
  }

  .selected {
    background: $primary-color1;
    color: white;
  }
}
.show-tags-button {
  font-size: 0.8rem;
  margin-top: 5px;
  padding: 5px;
  cursor: pointer;
  &:hover {
    transform: scale(102%);
  }
  span {
    display: flex;

    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 600px) {
  .show-tags-button {
    display: none;
  }
  .tags-container {
    margin-top: 15px;
    .tag-item {
      display: inline;
    }
  }
}
